# Deep Learning for Time Series Forecasting

In [6]:
import warnings
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from keras import optimizers
from keras.utils import plot_model
from keras.models import Sequential, Model
from keras.layers.convolutional import Conv1D, MaxPooling1D
from keras.layers import Dense, LSTM, RepeatVector, TimeDistributed, Flatten
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

%matplotlib inline
warnings.filterwarnings("ignore")

# Set seeds to make the experiment more reproducible.
import tensorflow
from numpy.random import seed
seed(1)

In [8]:
train = pd.read_csv(r'demand-forecasting-kernels-only/train.csv', parse_dates=['date'])
test = pd.read_csv(r'demand-forecasting-kernels-only/test.csv', parse_dates=['date'])

# Train set

Get train data which is more recent than 2017-01-01

In [10]:
train = train[(train['date'] >= '2017-01-01')]

In [12]:
train.head()

           date  store  item  sales
1461 2017-01-01      1     1     19
1462 2017-01-02      1     1     15
1463 2017-01-03      1     1     10
1464 2017-01-04      1     1     16
1465 2017-01-05      1     1     14